body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.x6-widget-transform {
  margin: -1px 0 0 -1px;
  padding: 0px;
  border: 1px solid #239edd;
}
.x6-widget-transform > div {
  border: 1px solid #239edd;
}
.x6-widget-transform > div:hover {
  background-color: #3dafe4;
}
.x6-widget-transform-active-handle {
  background-color: #3dafe4;
}
.x6-widget-transform-resize {
  border-radius: 0;
}


::-webkit-scrollbar {
  display: block;
  width: 0.35rem;
  height: 0.35rem;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.3);
  transition: all .2s;
}